.body {
    display: flex;
    flex-direction: column;
}

.ana {
    display: inherit;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background-color: aliceblue;
    border-radius: 12px;
}

.header-head {
    text-align: center;
    color: white;
    font-weight: bolder;
    align-items: center;
    flex: 1;
}

.nav-fix {
    margin-top: 60px;
}

.main-ilk {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 23%;
}

.main-header {
    display: inherit;
    flex-direction: column;
    color: rgb(252, 0, 0);
    margin-left: 2px;
    align-items: center;
}

.main-sec {
    display: inherit;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

.makale {
    width: 78%;
    text-align: center;
}

.aside-cubuk {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    border: 1px solid rgb(0, 0, 0);
    width: 13%;
    height: 100%;
    background-color: rgba(243, 247, 8, 0.658);
    align-items: center;
    padding-top: 5%;
    padding-left: 2%;
}

.sosyal {
    width: 90%;
    height: 30%;
    align-items: center;
}

.footer-style {
    background-color: rgb(13, 88, 187);
    height: 40px;
}

.yaziduz {
    text-align: justify;
}

.main-cv {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 23%;
}

.main-ilgi {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 23%;
    margin-right: 10%;
}

.baslik {
    text-align: center;
    color: red;
    font-weight: bolder;
    margin: 0 15% 0 0;
}

.alt-baslik {
    clear: both;
    color: #56aaff;
}

.ilgi-hobi {
    float: left;
}

.ilgi-margin {
    margin-left: 60%
}

.cv-baslik {
    float: left;
    color: red;
}

.cv-foto {
    width: 80px;
    float: left;
    margin-left: 600px
}

.cv-altbaslik {
    clear: both;
    color: #56aaff;
}

.cv-ul {
    float: left;
}

.login-buton {
    background-color: rgba(243, 247, 8, 0.658);
}

.main-kayseri {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 23%;
}

.kayseri-yazi {
    width: 87%;
}

.alt-baslik-kayseri {
    color: red;
}

.alt-baslik-kayseri1 {
    color: #56aaff
}

.kayseri-foto {
    width: 100%;
    height: 500px;
}

.tablo-png {
    width: 100%;
    height: 575px;
}

.my-form .row {
     margin-left: 0;
     margin-right: 0;
}

.login-yer{
    margin-right:15%
}
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 23%;
    font-family: Raleway, sans-serif;
}
.giris-yer{
    margin-left:52%;
}
.login-baslik{
    color:red;
}
.iletisim-baslik{
    text-align:center;
    color:red;
    font-size:20px;
}